.head{
	margin-top: 10px;
	height: 64px;
}
.body{
	margin-top: 10px;
	height: 640px;
}
#location{
	font-size: 1.3em;
	border: 2px solid black;
	border-radius: 15px;
}
#time{
	font-family: Bradley Hand, cursive;
	text-align: center;
}
#map{
	border-radius: 15px;
	border: 2px ridge black;
}
.peopleTotal{
	text-align: center;
	font-size: 1.8em;
	height: 64px;
	border-radius: 15px;
	border: 2px ridge black;
}
.cell{
	text-align: center;
	font-size: 2em;
	margin-top: 10px;
	border: 1px solid black;
	height: 64px;
	width: 100%;
	border-radius: 32px;
}